*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #404040;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.calc-container{
  border: 2px solid #FFF;
  background-color: #94D8F6;
  border-radius: 30px;
  width: 400px;
  height: 500px;
  padding: 1rem;
  margin-top: 20px;
}
.fila{
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}